.missing-message.missing-message {
  text-align: center;
  margin: 32px 0;
  display: flex;
  align-items: center;
  border-top: solid 1px var(--dark-line-color);
  padding-top: 16px;

  @media (min-width: 769px) {
    padding-top: 32px;
  }

  & > h3,
  & > p {
    margin: 0;
    padding: 0;
  }

  & > h3 {
    @extend %ms-font-size-1;
    font-weight: normal;
    color: var(--text-body);
    flex: 1 0 auto;
    text-align: left;
  }

  & > h3::before {
    content: '';
    /* TODO @include ion-md-arrow-forward(24px, $base-a); */
    margin-right: 16px;
  }

  & > p {
    color: var(--text-mute);
    flex: 0 0 auto;
  }

  @media (max-width: 480px) {
    flex-wrap: wrap;

    & > p {
      margin-top: 16px;
    }
  }
}
