.notice-box {
  & {
    margin-bottom: 24px;
    color: var(--text-mute);
  }

  @media (max-width: 480px) {
    margin-bottom: 16px;
  }

  &::before {
    content: '';
    /* TODO @include ion-md-information-circle(24px, $base-mute3); */
    margin-right: 8px;
  }

  & > a {
    text-decoration: none;
  }
}
