/*
 * Related posts
 */

.related-posts-area {
  & {
    @apply --section-with-container;
    padding-top: 16px;
    padding-bottom: 16px;
    background: var(--gray-bg);
  }

  @media (min-width: 481px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
