{
  "presets": [
    [
      "env",
      {
        "forceAllTransforms": true
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "styled-jsx/babel",
      {
        "plugins": [
          "styled-jsx-plugin-postcss"
        ]
      }
    ]
  ]
}
