@import '../variables.css';

/*
 * Basic CSS for panels
 */

.root {
  display: block;
}

.root + .root {
  border-top: solid 1px var(--line-color);
}

.header {
  display: block;
}

.title {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 16px;
}

.body {
  margin-top: -24px;
  padding: 16px;
}
