.link {
  text-decoration: none;
  width: 48px;
  height: 48px;
  line-height: calc(48px - 2px);
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  transition: all 100ms linear;

  /* Smaller on mobile */
  @media (max-width: 480px) {
    width: 32px;
    height: 32px;
    line-height: calc(32px - 2);
  }

  /* Colors */
  &,
  &:visited {
    color: var(--text-mute);
  }

  /* Active */
  &:hover,
  &:focus {
    color: white;
    background: color-mod(var(--brand-b) alpha(40%));
    opacity: 1;
  }

  &:hover .icon,
  &:focus .icon {
    color: white;
  }

  /* Icon: smaller on mobile */
  @media (max-width: 480px) {
    &::before {
      font-size: 16px;
    }
  }
}

.icon {
  height: 24px;
  width: 24px;
  transform: rotate(-90deg);
  color: var(--brand-a);
}
