.root {
  & {
    display: flex;
    text-decoration: none;
    background: var(--brand-a-gradient);
    padding: 32px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 2px;
    box-shadow: var(--shadow2);
    text-shadow: 0 1px 1px #0003;
    transition: filter 300ms linear;
  }

  &,
  &:visited {
    color: white;
  }

  &:hover,
  &:focus {
    filter: brightness(110%);
    transition: filter 50ms linear;
  }
}

.text {
  margin: auto;
  text-align: center;
}

.icon {
  margin-bottom: 16px;
  display: block;
}

.icon::before {
  content: '';
  display: inline-block;
  height: 64px;
  width: 64px;
  border: solid 2px color-mod(var(--brand-a) lightness(+16%) hue(+20deg));
  border-radius: 50%;
  text-indent: -2px;
  text-shadow: none;
}

.description {
  @extend %ms-font-size-1;
  line-height: 1.4;
  font-weight: 300;
  display: block;
  margin-bottom: 16px;
}
