@import '../styles/_common.scss';

.root,
.root > li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.root {
  margin-left: 8px;
}

.item {
  display: inline;
}

.icon svg {
  width: 16px;
  height: 16px;
}

.icon {
  margin-right: 8px;
}

.link {
  display: inline-block;
  height: 32px;
  line-height: calc(32px - 2px);
  text-decoration: none;
  white-space: nowrap;
  padding: 0 16px;
  border: solid 1px $dark-line-color;
  border-radius: 24px;
  @include font-size(-1);
}

.link,
.link:visited {
  color: $text-mute;
}

.link:hover,
.link:focus {
  background: $brand-a-gradient, $brand-a;
  box-shadow: $shadow3;
  color: white;
}
