@import '../../web/styles/common';

.root {
  opacity: 1;
}

.heading {
  @apply --font-size-1;
  color: var(--brand-a);
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: solid 1px var(--dark-line-color);
  line-height: 1.2;
  font-weight: 400;
}
