@import '../styles/_common.scss';

/*
 * Search bar around the footer
 */

.root {
  padding-top: 16px;
  padding-bottom: 16px;
  background: $bg-gray;
  border-top: solid 1px $dark-line-color;
  border-bottom: solid 1px $dark-line-color;
}

.container {
  @include container;
}
