@import '../styles/_common.scss';

.root ul,
.root li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item {
  display: inline;
}

.icon svg {
  width: 16px;
  height: 16px;
}

a.link {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
}

.link,
.link:visited {
  color: $text-mute;
}

.link:hover,
.link:focus {
  color: $brand-a;
}

.text {
  display: none;
}
