.root {
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 3px;

  &,
  &:visited {
    background-color: var(--brand-a);
    background: var(--brand-a-gradient);
    color: white;
  }

  &:hover,
  &:focus {
    background: var(--brand-a);
    box-shadow: none;
    color: white;
  }
}

.isDark {
  &,
  &:visited {
    background: var(--brand-a6);
    color: white;
  }

  &:hover,
  &:focus {
    background: var(--brand-a7);
    color: white;
  }
}
