/*
 * Input
 */

.input {
  font-family: var(--body-font);
  @extend %ms-font-size-2;
  padding: 16px;
  height: 64px;
  background: transparent;
  border: 0;
  flex: 1 1 auto;
  padding-left: 0;
  font-weight: bold;
  color: var(--text-bold);
  min-width: 48px;

  &::placeholder {
    font-weight: normal;
    color: var(--text-mute);
  }

  &:focus::placeholder {
    color: color-mod(var(--text-mute) alpha(25%));
  }
}

.input:focus {
  outline: 0;
}
