/*
 * Metrics
 */

:root {
  --gut-small: 16px;
  --gut: 16px;
  --column: 400px;
  --code-size: 0.96em;
  --code-line-height: 1.5;
  --area-width: calc(var(--column) * 3 + 32px);
}

/*
 * Fonts
 */

:root {
  /* Sans font */
  --system-sans:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
     'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  /* Monospace font */
  --system-mono:
    'SFMono-Regular', Consolas, Menlo, 'Liberation Mono', 'Ubuntu Mono',
    Courier, monospace;

  /* Fonts */
  --body-font: var(--system-sans);
  --heading-font: var(--system-sans);
  --monospace-font: cousine, var(--system-mono);
}

/*
 * Base colors
 */

:root {
  /* Neutral palette */
  --base-body:  #f1f3f5;
  --base-panel: #ffffff;
  --base-head:  #111111;
  --base-text:  #334455;
  --base-mute:  #667788; /* Gray */

  /* Accent palette */
  --base-a: color(#8370bd shade(5%)); /* Indigo */
  --base-b: color(#2b72a2 shade(5%)); /* Blue */
  --base-c: color(#17c694 shade(5%)); /* Teal */

  /* Accent variations */
  --base-b7: #2b72a2; /* TODO */
  --base-b3: #2b72a2;
  --base-a7: #8370bd; /* TODO */
  --base-a3: #8370bd; /* TODO */

  /* --base-a: adjust-color(#8370bd, $lightness: -5%); // indigo */
  /* --base-b: adjust-color(#2b72a2, $lightness: -5%); // blue */
  /* --base-c: adjust-color(#17c694, $lightness: -5%); // teal */

  /* --base-a3: adjust-color($base-a, $lightness: 16%, $hue: -20deg); */
  /* --base-a7: adjust-color($base-a, $lightness: -16%, $hue: 20deg); */
  /* --base-b3: adjust-color($base-b, $lightness: 16%, $hue: -20deg); */
  /* --base-b7: adjust-color($base-b, $lightness: -16%, $hue: 20deg); */
  /* --base-mute7: adjust-color($base-mute, $lightness: -16%); */
  /* --base-mute6: adjust-color($base-mute, $lightness: -8%); */
  /* --base-mute4: adjust-color($base-mute, $lightness: 8%); */
  /* --base-mute3: adjust-color($base-mute, $lightness: 16%); */

  /* Mute variations */
  --base-mute7: color(var(--base-mute) shade(30%));
  --base-mute6: color(var(--base-mute) shade(15%));
  --base-mute4: color(var(--base-mute) tint(16%));
  --base-mute3: color(var(--base-mute) tint(32%));

  --body-bg: var(--base-body);
  --gray-bg: #f8f9fa;
  --gray-text: var(--base-mute);

  --line-color: color(var(--base-mute) alpha(5%));
  --dark-line-color: color(var(--base-mute) alpha(20%));
}

/*   --base-a-gradient: linear-gradient( */
/*   5deg, */
/*   $base-a, */
/*   adjust-color($base-a, $lightness: 2%, $hue: 16deg)); */

/* // */
/* // Shadows */
/* // */

/*   --shadow2: */
/*   0 1px 1px rgba($base-mute, 0.55); */

/*   --shadow3: */
/*   0 6px 8px rgba($base-mute, 0.03), */
/*   0 1px 2px rgba($base-mute, 0.30); */

/*   --shadow6: */
/*   0 6px 8px rgba($base-mute, 0.03), */
/*   0 1px 2px rgba($base-mute, 0.30), */
/*   0 8px 12px rgba($base-b3, 0.1); */

/*
 * Modular scale
 */

:root {
  --ms-ratio-sm: 1.12;
  --ms-ratio-md: 1.15;
  --ms-ratio-lg: 1.16;
  --ms-base: 14px;
  --ms-base-sm: 13px;
  --ms-base-md: 14px;
  --ms-base-lg: 14px;
}

@custom-media --ms-viewport-md (width > 480px);
@custom-media --ms-viewport-lg (width > 768px);

/*
 * (Mixin) heading-style
 * For top-level headings
 */

:root {
  --heading-style: {
    & {
      margin: 0;
      padding: 0;
      margin-bottom: calc(16px + 8px);
      margin-top: 64px;
      position: relative;
    }

    @media (max-width: 768px) {
      margin-bottom: 8px;
      margin-top: 32px;
    }

    @media (max-width: 480px) {
      margin-bottom: 8px;
      margin-top: 32px;
    }
  }
}


/*
 * (Mixin) gutter-padding-*
 */

:root {
  --gutter-padding: {
    & {
      padding: var(--gut);
    }

    @media (max-width: 480px) {
      padding: var(--gut-small);
    }
  }

  --gutter-padding-left: {
    & {
      padding-left: var(--gut);
    }

    @media (max-width: 480px) {
      padding-left: var(--gut-small);
    }
  }

  --gutter-padding-right: {
    & {
      padding-right: var(--gut);
    }

    @media (max-width: 480px) {
      padding-right: var(--gut-small);
    }
  }
}
