// Metrics
$gut-small: 16px;
$gut: 16px;
$column: 400px;
$code-size: 0.96em;
$code-line-height: 1.5;
$area-width: 1232px; /* calc($column * 3 + 32px); */

// Fonts
/* Sans font */
$system-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

/* Monospace font */
$system-mono: 'SFMono-Regular', Consolas, Menlo, 'Liberation Mono',
  'Ubuntu Mono', Courier, monospace;

/* Fonts */
$body-font: $system-sans;
$heading-font: $system-sans;
$monospace-font: cousine, $system-mono;

/* Neutral palette */
$bg-card: #ffffff;
$bg-body: #f1f3f5;
$bg-gray: #f8f9fa;
$text-mute: #667788;
$text-body: #334455;
$text-bold: #111111;

/* Accent palette */
$brand-a: #745fb5; /* Indigo */
$brand-b: #26648e; /* Blue */
$brand-c: #14af83; /* Teal */

/* Accent variations */
$brand-a3: color-mod($brand-a hue(-20) lightness(+16%));
$brand-a4: color-mod($brand-a hue(-10) lightness(+8%));
$brand-a5: color-mod($brand-a);
$brand-a6: color-mod($brand-a hue(+15) lightness(-8%));
$brand-a7: color-mod($brand-a hue(+20) lightness(-16%));

$brand-b3: color-mod($brand-b hue(-20) lightness(+16%));
$brand-b4: color-mod($brand-b hue(-10) lightness(+8%));
$brand-b5: color-mod($brand-b);
$brand-b6: color-mod($brand-b hue(+10) lightness(-8%));
$brand-b7: color-mod($brand-b hue(+20) lightness(-16%));

/* Mute variations */
$text-mute3: lighten($text-mute, 0.16);
$text-mute4: lighten($text-mute, 0.8);
$text-mute6: darken($text-mute, 0.8);
$text-mute7: darken($text-mute, 0.16);

/* Line colors */
$line-color: change-color($text-mute, $alpha: 0.5);
$dark-line-color: change-color($text-mute, $alpha: 0.2);

/* Gradients */
$brand-a-gradient: linear-gradient(
  5deg,
  $brand-a,
  color-mod($brand-a lightness(+2%) hue(+32))
);

/* Shadows */
$shadow2: 0 1px 1px change-color($text-mute, $alpha: 0.55);

$shadow3: 0 6px 8px change-color($text-mute, $alpha: 0.3),
  0 1px 2px change-color($text-mute, $alpha: 0.3);

$shadow6: 0 6px 8px change-color($text-mute, $alpha: 0.3),
  0 1px 2px change-color($text-mute, $alpha: 0.3),
  0 8px 12px change-color($brand-b3, $alpha: 0.1);

$shadow9: 0 6px 8px change-color($brand-b3, $alpha: 0.3),
  0 1px 2px change-color($brand-b3, $alpha: 0.3),
  0 10px 18px change-color($brand-b3, $alpha: 0.5);

// prettier-ignore
$modularscale: (
  base: 13px 14px 14px,
  480px: ( ratio: 1.12 ),
  768px: ( ratio: 1.15 ),
  900px: ( ratio: 1.16 )
);

// Viewport media queries
$viewport-4: 'min-width: #{480px + .1px}';
$viewport-7: 'min-width: #{768px + .1px}';
$viewport-9: 'min-width: #{900px + .1px}';
$viewport-11: 'min-width: #{1100px + .1px}';
