/*
 * The top-level heading
 */

.main-heading {
  @extend %heading-style;

  & {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > h1 {
    @extend %ms-font-size-8;
    line-height: 1.2;
    font-weight: 200;
    font-family: var(--body-font);
    margin: 0;
  }

  & > h1 > em {
    font-style: normal;
    color: color-mod(var(--text-mute) alpha(20%));
  }
}

/*
 * Center
 */

.main-heading.-center {
  & > h1 {
    text-align: center;
  }

  & > .adbox {
    margin-top: 16px;
    text-align: center;
  }

  & > .adbox > .ad {
    display: inline-block;
  }

  & > .adbox > .ad.-carbon {
    margin-top: 16px;
  }
}

/**
 * Add some space in preview mode
 */

.PreviewMode .main-heading {
  margin-top: 16px;
}
