/*
 * Related posts
 */

.related-posts-area {
  & {
    padding-top: 16px;
    padding-bottom: 16px;
    background: var(--bg-gray);
  }

  & > .container {
    @extend %container;
  }

  @media (min-width: 481px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
