@import '../../css-base/utils';

/*
 * Section
 * has callout and group
 */

.related-posts-section {
  & {
    display: flex;
    @apply --section-gutter-margin-left--1;
    @apply --section-gutter-margin-right--1;
  }

  & > .callout,
  & > .group {
    margin: 0;
    @apply --section-gutter-margin-left;
    @apply --section-gutter-margin-right;
  }

  & > .callout {
    flex: 1 1 33%;
  }

  & > .group {
    flex: 1 1 50%;
  }

  & > .callout {
    display: flex;

    & > * {
      flex: 1 0 100%;
    }
  }

  /* Mobile */
  @media (max-width: 480px) {
    & {
      flex-wrap: wrap;
    }

    & > .callout,
    & > .group {
      @apply --section-gutter-margin-top;
      @apply --section-gutter-margin-bottom;
      flex: 1 1 100%;
    }
  }

  /* Tablet */
  @media (min-width: 481px) {
    @media (max-width: 768px) {
      & {
        flex-wrap: wrap;
      }

      & > .callout,
      & > .group {
        @apply --section-gutter-margin-top;
        @apply --section-gutter-margin-bottom;
        flex: 1 1 100%;
      }

      & > .group {
        flex: 1 1 40%;
      }
    }
  }
}
