@import '../../css-base/utils';

/*
 * Related posts
 */

.related-posts-area {
  & {
    @apply --has-container;
    padding-top: 16px;
    padding-bottom: 16px;
    background: var(--bg-gray);
  }

  @media (min-width: 481px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
