/*
 * (Mixin) gutter-padding-*
 */

@mixin gutter-padding {
  & {
    padding: $gut;
  }

  @media (max-width: 480px) {
    padding: $gut-small;
  }
}

@mixin gutter-padding-left {
  & {
    padding-left: $gut;
  }

  @media (max-width: 480px) {
    padding-left: $gut-small;
  }
}

@mixin gutter-padding-right {
  & {
    padding-right: $gut;
  }

  @media (max-width: 480px) {
    padding-right: $gut-small;
  }
}

@mixin gutter-right {
  & {
    right: $gut;
  }

  @media (max-width: 480px) {
    right: $gut-small;
  }
}

@mixin gutter-left {
  & {
    left: $gut;
  }

  @media (max-width: 480px) {
    left: $gut-small;
  }
}
