/* Root component */
.root {
  @extend %ms-font-size-1;
  color: var(--brand-a);
  padding: 24px 0;
  white-space: nowrap;
  cursor: pointer;
}

.root:hover,
.root:focus {
  &,
  & > .suffix {
    color: var(--brand-a7);
  }

  & > .fauxlink {
    border-bottom: solid 1px var(--brand-a7);
  }
}

.count {
  font-weight: bold;
}

.count::before {
  content: '';
  vertical-align: middle;
  color: var(-bbrand-a);
  margin: 0 8px 0 0;
}

.suffix {
  color: $text-mute;
}

.fauxlink {
  margin-left: 4px;
  border-bottom: solid 1px color-mod(var(--brand-a) alpha(25%));
}

/* Icon */
.icon svg {
  width: 24px;
  height: 24px;
}

.icon :global(.clr-i-outline) {
  fill: var(--brand-a);
}

/* Icon on non-hover */
.icon.isLine {
  display: inline;
}

.icon.isSolid {
  display: none;
  margin-right: -4px;
}

/* Icon on hover */
.root:hover,
.root:focus {
  & .icon.isSolid {
    display: inline;
  }

  & .icon.isLine {
    display: none;
  }
}
