/*
 * For links with sources, eg,
 * [Foo](foo.com) _(foo.com)_
 */

.MarkdownBody.MarkdownBody {
  & a + em {
    opacity: 0.5;
  }
}

.MarkdownBody {
  & a {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
