:root {
  --container: {
    @apply --gutter-padding-left;
    @apply --gutter-padding-right;
    max-width: var(--area-width);
    margin: 0 auto;
  };

  --has-container: {
    & > .container {
      @apply --container;
    }
  }
}
