:root {
  --section-with-container: {
    & > .container {
      @apply --gutter-padding-left;
      @apply --gutter-padding-right;
      max-width: var(--area-width);
      margin: 0 auto;
    }
  }
}
