/*
 * Threshold until section-gutter collapses
 * ($area-width + 32px)
 */

@custom-media --section-gutter-max (max-width: 1264px);

:root {
  --section-gutter-padding: {
    & {
      padding: 16px;
    }

    @media (--section-gutter-max) {
      padding: 8px;
    }
  }

  --section-gutter-horizontal-margin--1: {
    & {
      margin: -16px;
    }

    @media (--section-gutter-max) {
      margin: -8px;
    }
  }
}
