/*
 * MarkdownBody context
 */

.MarkdownBody h2 {
  & {
    @extend %heading-style;
  }
  & {
    @extend %ms-font-size-6;
  }
  line-height: 1.2;
  font-weight: 200;
  font-family: var(--heading-font);
  margin-top: 0;
}

.MarkdownBody h3 {
  @extend %ms-font-size-2;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-family: var(--heading-font);
  font-weight: 400;
  color: var(--brand-a);
}

.MarkdownBody {
  & a,
  & a:visited {
    color: var(--brand-b);
    text-decoration: none;
  }

  & a:hover {
    text-decoration: underline;
  }

  & em {
    font-style: normal;
    color: var(--text-mute);
  }

  & iframe {
    border: 0;
    margin: 0;
    width: 100%;
  }
}
