.hint-mark {
  & {
    cursor: help;
  }

  & > i::before {
    content: '?';
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
  }

  & > i {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: calc(16px - 4px);
    text-align: center;
    border-radius: 50%;
    background: color-mod(var(--brand-b3) alpha(30%));
    color: var(--text-mute);
    margin: 0 0.4em;
  }
}
