/*
 * Search bar around the footer
 */

.search-footer {
  & {
    @apply --has-container;
    padding-top: 16px;
    padding-bottom: 16px;
    background: var(--bg-gray);
    border-top: solid 1px var(--dark-line-color);
    border-bottom: solid 1px var(--dark-line-color);
  }
}
