.root {
  margin: 32px 0 16px 0;
}

.container {
  & {
    @extend %container;
  }
  max-width: var(--area-width);
  margin: 0 auto;
}

/* Horizontal line */
.container::before {
  content: '';
  display: block;
  background: linear-gradient(
    to right,
    var(--dark-line-color) 50%,
    transparent
  );
  height: 1px;
}

.details {
  margin-bottom: -16px;
}

.details[open] {
  margin-bottom: 0;
}
