@import './variables.css';

:root {
  --topnav-height: 40px;
}

.topnav {
  height: var(--topnav-height);
  background: var(--bg-panel);
  border-bottom: solid 1px var(--line-color);
  color: var(--text-body);

  /* Figma mode */
  /* background: #2c2c2c; */
  /* color: #fff; */
}

.root {
  composes: uiFontStyle from './utils.module.css';
  background: var(--bg-main);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.body {
  background: var(--bg-body);
  position: absolute;
  top: var(--topnav-height);
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
}

.sidebar {
  flex: 0 0 var(--nav-width);
  order: 1;
  border-right: solid 1px var(--line-color);
  overflow-y: auto;
}

.panels {
  flex: 0 0 var(--nav-width);
  order: 3;
  background: var(--bg-panel);
  border-left: solid 1px var(--line-color);
  overflow-y: auto;
}

.main {
  flex: 1 1 auto;
  order: 2;
  background: var(--bg-view);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: auto;
  padding: 16px;
}

.title {
  composes: fontSize0 from './utils.module.css';
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: var(--topnav-height);
  text-align: center;
  position: relative;
  top: -1px;
}
