@import './variables.css';

.button {
  composes: fontSizeMinus1 from './utils.module.css';
  display: inline-block;
  margin: 0;
  border: 0;
  background: transparent;
  padding: 0 8px;
  font-weight: normal;
  color: var(--text-mute);
  cursor: pointer;

  &:hover,
  &:focus {
    background: none;
  }
}

.button:first-of-type {
  padding-left: 0;
}

.button.isActive {
  font-weight: bold;
  color: var(--text-bold);
}
