@import './variables.css';

.root {
  display: block;
  border-top: solid 1px var(--line-color);
}

.title {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 16px;
}

.body {
  margin-top: -24px;
  padding: 16px;
}
