@import './variables.css';

.root {
  font-size: var(--nav-font-size);
  composes: reset from './utils.module.css';
}

.list,
.item {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.entry {
  composes: fontSize0 from './utils.module.css';
  display: block;
  margin: 0;
  padding: 8px 12px;
  border: 0;
  width: 100%;
  background: transparent;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  border-radius: 0;
  transition: none;
}

.entry.isActive {
  outline: 0;
  background: var(--highlight-color);
  transition: none;
}

.entry:focus {
  outline: 0;
  background: var(--accent-color);
  color: white;
  transition: none;
}

.icon {
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.name {
  flex: 1 1 auto;
}
