@import './variables.css';

:root {
  --barrier-color: #8883;
}

/* This frame is inside the iframe */
.frame {
  margin: auto;
  flex: 0 0 auto;
  background: white;
  max-width: 100vw;
}

.iframe {
  border: 0;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: width 250ms ease-out;
}

.iframeBody {
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isResponsive {
  box-shadow: -2px 0 0 var(--barrier-color), 2px 0 0 var(--barrier-color);
}
