.root {
  display: inline-flex;
  align-items: center;
}

.separator {
  margin: 0 8px 0 10px;
  color: #8888;
  transform: rotate(90deg);
  width: 12px;
  height: 12px;
  position: relative;
  top: 1px;
}

.part,
.separator {
  flex: 0 0 auto;
}
