@import './variables.css';

.reset {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
  transition: none;
  transition-duration: 0;
}

.uiFontStyle {
  font-family: inter, system-ui;
}

.fontSizeMinus1 {
  font-size: 12px;
}

.fontSize0 {
  font-size: 14px;
}

/*
 * Base styles for inputs.
 */

.inputBorder {
  margin: 0;
  padding: 0;
  border: 0;
  background: var(--bg-panel);
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px var(--line-color);

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 1px var(--line-color-plus);
    background: var(--bg-main);
    outline: 0;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px var(--accent-color);
  }
}

.textarea {
  composes: inputBorder;
  resize: none;
  padding: 12px;
  font-family: Consolas, monospace;
  font-size: 12px;
  width: 100%;
}
