:root {
  --bg-view: #f2f2f2;
  --bg-panel: #fafafa;
  --bg-main: #fff;
  --text-body: #333;
  --text-bold: #111;
  --text-mute: #888;
  --line-color: #8883;
  --line-color-plus: #8885;
  --accent-color: dodgerblue;
  --highlight-color: color-mod(var(--accent-color) alpha(10%));
  --nav-font-size: '11px';
  --nav-width: 256px;
  --pad: 16px;
}

@custom-media --viewport-7 (min-width: 768.02px);
@custom-media --viewport-9 (min-width: 992.02px);
@custom-media --viewport-12 (min-width: 1200.02px);
