/*
 * Syntax highlighting via Prism.js
 */

:root {
  --syntax-a: var(--brand-b);
  --syntax-a3: color-mod(var(--syntax-a) lightness(+8%) hue(-10deg));
  --syntax-a7: color-mod(var(--syntax-a) lightness(-8%) hue(+10deg));

  --syntax-b: var(--brand-c);
  --syntax-b3: color-mod(var(--syntax-b) lightness(+8%) hue(-10deg));
  --syntax-b7: color-mod(var(--syntax-b) lightness(-8%) hue(+10deg));

  --syntax-m: #aaaaaa;
}

.token {
  &.tag,
  &.keyword {
    color: var(--syntax-a);
  }

  &.tag {
    color: var(--syntax-a7);
  }

  &.value,
  &.string,
  &.number,
  &.attr-value,
  &.boolean,
  &.regex {
    color: var(--syntax-b);
  }

  &.function,
  &.attr-name {
    color: var(--syntax-a3);
  }

  &.comment,
  &.punctuation,
  &.operator {
    color: var(--syntax-m);
  }
}
